:root {
    --holberton-red: #e01d3f;
}

.App {
    text-align: center;
}

.App-body p {
    padding: 2.5em;
    font-weight: 500;
}

.App-header {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--holberton-red);
    border-bottom: 2px solid var(--holberton-red);
}

.App-header img {
    width: 200px;
}

.App-footer {
    border-top: 3px solid var(--holberton-red);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-style: italic;
    font-weight: 500;
}